* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  h1 {
    font-size: 90px;
  }
  form input {
    border-radius: 4px;
    padding: 4px 7px;
  }

  h2 {
    font-family: "Proza Libre", sans-serif;
    font-size: 50px;
    font-style: normal;
  }
  
  .subtitulo {
    color: #889648;
    text-shadow: 
    -1px -1px 0 #52573F,  
    2px -1px 0 #52573F,
    -1px  1px 0 #52573F,
    1px  1px 0 #52573F; /* Sombra de texto que actúa como borde */
  }
}