.imgNosotros {
  width: 400px;
  padding: 20px;
  padding-left: 50px;
  padding-bottom: 100px;
  padding-top: 30px;
}
.titulo-nosotros {
  margin-top: 100px;
  margin-left: 30px;
  padding-top: 130px;
}
.texto-nosotros {
  margin-top: 20px;
  margin-right: 30px;
  margin-left: 30px;
}

.imgProductos {
@extend .imgNosotros;
}

.productos {
@extend .titulo-nosotros;
}

.texto-productos {
  @extend .texto-nosotros;
}

.imgAsesoramiento {
  width: 400px;
  padding: 20px;
  padding-right: 50px;
  padding-bottom: 100px;
}

.titulo-asesoramiento {
  text-align: right;
  padding-top: 100px;
  margin-top: 100px;
  padding-right: 30px;
}
.texto-asesoramiento {
  padding-top: 20px;
  padding-bottom: 0px;
  padding-right: 30px;
  text-align: right;
  margin-left: 30px;
}


