.containerSN {
    width: 100%; /* Ajusta el contenedor para que ocupe el 100% del ancho disponible */
    margin-bottom: 20px;
}

.imgSobreNosotros{
    width: 600px;
    padding-left: 50px;
    padding-right: 20px;
}


.masAsesoramientoTexto {
    flex: 1; /* Esto asegura que el párrafo tome el resto del espacio disponible */
}

.masAsesoramientoTitulo{
    margin-bottom: 20px; /* Añade un margen inferior para separar el título del contenido */
    }