.sobre--nosotros {
  @extend .masAsesoramientoTitulo;
}

.texto-sobre-nosotros{
  @extend .masAsesoramientoTexto
}

.carrusel{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 700px;
}

@media (max-width: 600px) {
  h2 .sobre--nosotros{
    font-size: 22px;
  }
  .carrusel{
    width: 350px;
  }
}