$color-titulo: #6A8C48;
$color-body: #ffffff;
$color-input: #33372F;
$color-li: #8C6B48;
$color-bordes-botones: #33372F;
$sombra-titulo: #33372F;
$texto-input: #ffffff;
$hover-color: #8C6B48;

@import "body";
@import "header";
@import "imagenes-y-textos";
@import "preguntas";
@import "footer";
@import "forms";
@import "p-nosotros";
@import "s-nosotros";


.masAsesoramientoTitulo {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}

.masAsesoramientoTexto {
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

.contenedor {
  display: grid;
  gap: 20px; /* Espacio entre las imágenes */
  justify-items: center; /* Centra las imágenes horizontalmente */
  padding: 20px; /* Espacio alrededor del contenedor */
  border: none;
  .contenedorCultivo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    border: none;
    .card .texto {
      text-align: center;
      
    }
  }
}

.contenedor img {
  width: 100%;
  height: auto;
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
  opacity: 0.8;
  border: none;
  &:hover {
    opacity: 1;
    border: solid rgb(255, 255, 255) 15px;
    border-radius: 5px;
  }
}

@media (max-width: 600px) {
  .masAsesoramientoTitulo{
    font-size: 22px;
  }
  .contenedor .card .texto{
    font-size: 10px;
  }
}